@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6f7f8;
}

h2 img {
  text-align: center;
}

input {
  padding-right: 2.5rem; /* Ajusta o preenchimento à direita para não sobrepor o ícone */
}

i {
  font-size: 1.25rem; /* Tamanho do ícone */
}

#close-modal-btn {
  background-color: #ccc;
  padding: 10px;
  border-radius: 4px;
  font-weight: 700;
  letter-spacing: 1px;
}
