@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6f7f8;
}

h2 img {
  text-align: center;
}

input {
  padding-right: 2.5rem; /* Ajusta o preenchimento à direita para não sobrepor o ícone */
}

i {
  font-size: 1.25rem; /* Tamanho do ícone */
}

#close-modal-btn {
  background-color: #ccc;
  padding: 10px;
  border-radius: 4px;
  font-weight: 700;
  letter-spacing: 1px;
}

/*=======> tabs links <========*/
.container-links {
  border-radius: 5px;
  padding: 5px;
  background-color: #c4bdbd;
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
  transition: all 0.3s ease;
}

.container-links p.clicked {
  font-size: 15px;
  background-color: green;
  border-radius: 5px;
  padding: 2px;
}

.container-links p {
  color: white;
  cursor: pointer; /* Adiciona um cursor de ponteiro aos itens clicáveis */
}

.links-field {
  position: relative; /* Permite que elementos filhos absolutamente posicionados sejam relativos a este contêiner */
}

ul.extra-menu {
  position: absolute; /* Remove do fluxo normal do documento */
  top: 100%; /* Posiciona a lista imediatamente abaixo do '+' */
  left: 0; /* Alinha a lista à esquerda do contêiner pai */
  list-style: none;
  padding: 10px;
  margin: 0;
  display: none; /* Escondido por padrão */
  background-color: #444; /* Ajuste o estilo como preferir */
  color: white;
  border-radius: 5px;
  z-index: 1000; /* Garante que a lista fique acima de outros elementos */
}

ul.extra-menu li {
  padding: 5px 0;
}
